# Block access to sensitive files
<FilesMatch "^\.env|^\.env\..*|composer\.(json|lock)$|package(-lock)?\.json$|webpack\.mix\.js$|vite\.config\.js$|artisan$">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
